@import url("fontawesome6/css/all.min.css");

body{
	font-size: 12pt;
	margin-left: auto;
	margin-right: auto;
	width:297mm;
	background: white;
	padding: 20px;
	min-height: 210mm;
	font-family: sarif;
}

.form-upload-con > input[type="file"]{
	position: absolute;
	opacity: 0;
	width: 25px;
}

.form-upload-con{
	font-size:18px;
}

.q-type{
	font-weight: bold;
	font-size: 19px;
	margin-left: 30px;
	margin-top: 30px;
}
#info-stud{
	font-weight: bold;
	font-size:17px;
	margin-top:20px;
	margin-left: 30px;
}
.question{
	margin-left: 50px;
	padding: 7px;
	width: 90%;
	margin-top:6px;
}

.choice{
/*	width: 80%;
	margin-left: 85px;*/
	margin-left: 85px;
	margin-top: 5px;
	display: inline-block;
	min-width: 140px;
	width: 430px;
    display: inline-block;
}

.prnt-btn{
	background: lightgreen;
	font-size: 17px;
	color: black;
	font-weight: bold;
	border: none;
	padding: 7px 12px;
	cursor: pointer;
	border-radius: 0px 10px 10px 10px;
	margin-left: 7px;
}

.answer-sheet{
	width: 1000px;
	margin-left: 70px;
	margin-top: 20px;
}

.answer-sheet span{
	margin-top:5px;
	margin-left: 20px;
	display: inline-block;
	min-width: 140px;
}

.answer-sheet i{
	font-style: normal;
	width: 20px;
	display:inline-block;
}
.as_override span{
	border: 1px solid black;
	margin-left: 0;
	margin-top: unset;
}

.as_override{
    max-width: 900px;
}

.prnt-btn a{
	font-family: inherit;
}

a{text-decoration: none !important;}

.del-btn{background: #ff8887; border-radius: 10px;}
.ger-btn{
	border-radius: 10px;
	background: orange;
}

.back-btn{
	border-radius: 10px 0px 10px 10px;
 	background: lightblue;
	float: right;
}

#exam-all{
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid gray;
	color: black;
}

#exam-view{
	width: 100%;
	min-height: 400px;
	max-height: 700px;
	overflow: scroll;
	overflow-x: hidden;
}

#exam-view:focus{outline: 0px;}

.editable-msg{
	font-size: 18px;
	border-bottom: 1px solid gray;
	padding: 7px 15px;
}

.editable-msg i{
	margin-right: 13px;
	cursor: pointer;
}

.editable-msg .text{
	text-transform: lowercase;
	font-style: normal;
	font-weight: bold;
}

#A section{
	padding: 30px !important;
	padding-top: 5px !important;
	width: 90% !important;
}

#temp-msg{
	background: lightblue;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	position: fixed;
	top: 60px;
	z-index: 2233333;
	left: 50%;
	width: 40%;
	transform: translateX(-50%);
}

.page-break{
	display: none;
}

.line-show{
	margin-top: 55px;
	margin-bottom: 55px;
	display: block !important;
	border-top: 2px dashed #3cbbe4 !important;
}

.resizable {
  display: inline-block;
  border: 2px solid lightblue;
  border-radius: 5px;
  resize: both;
  overflow: hidden;
  line-height: 0;
 }

.resizable img {
  width: 100%;
  height: 100%;
}

.match-cont{
    float: left;
}

.match-cont .question{
	width: 430px;
	display: inline-block;
	float: left;clear:left;
}

.cclear{
	clear: both;
}

.match_choice {
    display:inline-block;
    vertical-align:top;
    width: 400px;
	padding: 7px;
	margin-top:6px;

}

.qno{
	font-weight: bold;
}

#A {
	transform: scale(1.3, 1.04);
}

#A section{
    width: 793px !important;
    padding: 75px !important;
}
@media print{
	body{
		margin-top: 0;
		box-shadow: none;
		padding: 0;
	}
	.no-print{
		display: none;
		height: 0 !important;
	}
	#exam-view{
		margin-top: 0;
		border: none;
		padding: 0;
		max-height: 100%;
		overflow: hidden;
		width: 98%;
	}
	#exam-all{
		margin-top: -40px;
		border: none;
		padding: 0;
		max-height: 100%;
		overflow: hidden;
		width: 98%;
	}
	#A {
		transform: scale(1.4, 1);
	}

	#A section{
	    width: 793px !important;
	    padding: 75px !important;
	}

	.page-break {
		display: block;
	    page-break-after: always;
	}

	.line-show{
		margin:0;
		border:0 !important;
	}
	.resizable {
		border: 0;
		resize: none;
	}
	.tooltip {
		display: none;
	}

}