body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

.navbarr {
    padding: 0;
}

.navbarr ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbarr li {
    position: relative;
}

.navbarr a,
.navbarr a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    white-space: nowrap;
    transition: 0.3s;
}

.navbarr a:hover {
    color: #4154f1;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url(../img/background_cust.jpg) top center no-repeat;
    background-size: cover;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
}

.hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
}

.hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.hero .btn-get-started:hover i {
    transform: translateX(5px);
}

.hero .hero-img {
    text-align: right;
}


/* ---------------------------------------- */

.height-100-percentage {
    height: 100%;
}

.width-100-percentage {
    width: 100%;
}

.padding-top-15px {
    padding-top: 15px;
}

.padding-10px {
    padding: 10px;
}

.padding-30px {
    padding: 30px;
}

.padding-40px {
    padding: 40px;
}

.margin-bottom-30px {
    margin-bottom: 30px;
}

.max-width-400 {
    max-width: 400px;
}

.margin-0-auto {
    margin: 0 auto;
}

.login-form-slider {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.login-form-slider .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.login-form-slider .slide.login-slide {
    display: block;
}

.login-form-slider .slide.signup-slide {}

.login-form-slider .slide.forgot-password-slide {}

.style2 .login-box {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    background: #ffffff;
    height: 500px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
    -moz-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
    box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
}

.style2 .login-form-slider .slide {
    padding: 40px;
}

.style2 h3 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #012970;
    letter-spacing: 0.020em;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
}

.style2 .form-group {
    position: relative;
}

.style2 .form-control {
    height: 50px;
    padding-left: 40px;
    border: 0;
    border-bottom: 3px solid lightgray;
    color: #633e62;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.style2 .forgot-password-field .form-control {
    padding-right: 70px;
}

.style2 .forgot-password-field .forgot-password-click {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #0dcaf0;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    letter-spacing: 0.030em;
    font-weight: 600;
}

.style2 .field-icon {
    position: absolute;
    font-size: 20px;
    left: 10px;
    top: 10px;
    color: #333;
}

.style2 .sign-in-btn .submit {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 160px;
    height: 50px;
    border: 0;
    letter-spacing: 0.040em;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.style2 .sign-up-txt {
    padding-top: 40px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #868582;
    font-size: 17px;
}

.style2 .sign-up-txt a {
    color: #012970;
    font-size: 18px;
    display: inline-block;
    padding-left: 6px;
    font-weight: 600;
}

.style2 .signup-slide .sign-up-txt {
    padding-top: 10px;
}


/*** btns - and inputs ***/

button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 20ms;
    user-select: none;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(258deg 70% 46%) 0%, hsl(241deg 96% 56%) 8%, hsl(246deg 93% 56%) 92%, hsl(252deg 72% 49%) 100%)
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(217deg 89% 51%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

button:hover {
    filter: brightness(110%);
}

button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

button:focus:not(:focus-visible) {
    outline: none;
}

.error {
    color: red;
}

.toast-top-center {
    margin-top: 20px !important;
}

select:hover {
    cursor: pointer;
}