@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i|Playfair+Display:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html,
body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #333333;
    font-weight: 600;
}

h1 {
    font-size: 70px;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 36px;
}

h3 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 15px;
    color: #666666;
    line-height: 1.8;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}


/*---------------------
   Helper CSS
 -----------------------*/

.section-title {
    text-align: center;
    margin-bottom: 55px;
}

.section-title img {
    margin-bottom: 15px;
}

.section-title h2 {
    font-weight: 400;
    font-size: 38px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
}

.section-title p {
    padding-top: 15px;
    margin-bottom: 0;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 110px;
    padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}

.bg-g-1,
.site-pagination a.active,
.site-pagination a:hover,
.review-section:after,
.search-model:after,
.hero-section,
.back-to-top {
    background: -o-linear-gradient(305deg, #f65d5d 0%, #fdb07d 100%);
    background: linear-gradient(145deg, #f65d5d 0%, #fdb07d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#f65d5d", endColorstr="#fdb07d", GradientType=1);
}

.bg-g-2,
.infor-form button,
.site-btn.sb-line-gradient,
.site-btn.sb-gradient {
    background: -o-linear-gradient(305deg, #fdb07d 0%, #f65d5d 100%);
    background: linear-gradient(145deg, #fdb07d 0%, #f65d5d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#fdb07d", endColorstr="#f65d5d", GradientType=1);
}


/*------------------
  Sign up section
---------------------*/

.signup-map {
    position: relative;
    height: 100%;
    background: #ddd;
    border-radius: 12px;
    -webkit-box-shadow: 0px 12px 32px rgba(72, 105, 114, 0.15);
    box-shadow: 0px 12px 32px rgba(72, 105, 114, 0.15);
    overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 576px) {
    .signup-map {
        height: 400px;
        margin-bottom: 40px;
    }
}

.signup-map iframe {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.singup-text {
    padding-right: 50px;
    margin-bottom: 40px;
}

.singup-text h3 {
    font-weight: 400;
    font-family: "Playfair Display", serif;
    margin-bottom: 15px;
}

.singup-form input,
.singup-form textarea {
    width: 100%;
    height: 49px;
    padding: 5px 28px;
    font-size: 14px;
    color: #999999;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    background: #fafafa;
}

.singup-form textarea {
    height: 140px;
    padding: 15px 28px 10px;
    border-radius: 20px;
    resize: none;
}


/*---------------------
  Contact page
-----------------------*/

.contact-map {
    position: relative;
    height: 550px;
    background: #ddd;
    border-radius: 13px;
    margin-bottom: 65px;
    overflow: hidden;
    -webkit-box-shadow: 0px 12px 32px rgba(72, 105, 114, 0.15);
    box-shadow: 0px 12px 32px rgba(72, 105, 114, 0.15);
}

.contact-map iframe {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.con-info {
    margin-bottom: 30px;
}

.con-info h3 {
    font-size: 18px;
    margin-bottom: 14px;
}

.con-info ul {
    list-style: none;
}

.con-info ul li {
    padding-left: 25px;
    position: relative;
    float: 16px;
    color: #666666;
    margin-bottom: 7px;
}

.con-info ul i {
    position: absolute;
    font-size: 16px;
    left: 0;
    top: 3px;
    color: #f65d5d;
}

.contact-social a {
    display: inline-block;
    width: 34px;
    height: 34px;
    padding-top: 6px;
    margin-right: 6px;
    margin-bottom: 14px;
    font-size: 15px;
    text-align: center;
    color: #666666;
    background: #f2f4f5;
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.contact-social a:hover {
    color: #fff;
    background: #f65d5d;
}

.contact-form {
    padding-top: 10px;
}

.containerCircle {
    position: relative;
    box-align: center;
}

.container {
    position: relative;
    align-content: center;
}